@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
:root {
    --var-bc-main: #EAEDED;
    --var-bc-hover: #c8cccc;
    --var-bc-focus: #afafaf;

    --var-ff-body: 'Lora', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {scroll-behavior: smooth;}
body {font-family: var(--var-ff-body);}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(235,204,0);
    background: linear-gradient(229deg, rgba(235,204,0,1) 14%, rgba(94,106,162,1) 38%, rgba(94,106,162,1) 57%, rgba(58,224,110,1) 83%);
    background-repeat: no-repeat;
}

.operatore, .numero {cursor: pointer;}
#text {width: 100%; padding: 1em; text-align: right;}
#text {
   font-size: 1.2rem;
   outline: none;
   border: none;    
}

main {
    position: relative;
    width: 300px;
    height: 420px;
    background-color: var(--var-bc-main);
    box-shadow: 
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row {
    display: flex;
    height: 17.2%;
}


#zero {width: 88%;}
.numero, .operatore, .vuoto {
    height: 100%;
    width: 30%;
    border: none;
    font-size: .8rem;
    background-color: none;
}

.operatore {font-size: 1.2rem;}

.numero:hover, .operatore:hover {
    background-color: var(--var-bc-hover);
}

.numero:focus, .operatore:focus {
    background-color: var(--var-bc-focus);
}


#before {
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: .7rem;
}


